@media only screen and (min-width: 360px) and (max-width: 480px) {
    body .bienvenido .titulo, body .cabanas .titulo, body .reserva .titulo, body .zonaTuristica .titulo, body .reviews .titulo, body .contacto .titulo {
        font-size: 4em;
        margin-top: 10px;
    }
    body .bienvenido .parrafo, body .cabanas .parrafo, body .reserva .parrafo, body .zonaTuristica .parrafo, body .reviews .parrafo, body .contacto .parrafo {
        margin-top: 10px;
        padding: 5px 10px;
    }
    body{
        .home{
            .slogan{
                span{
                    font-size: 5em;
                }
            }
        }
        .floatHome{
            right:19px;
            bottom:65px;
        }
        .float{
            width:40px;
            height:40px;
            bottom:15px;
            right:15px;

            i{
                transform: translate(-50%, -30%);
                font-size: 30px;
            }
            p{
                transform: translate(-110%, 20%);
            }
        }
        .zonaTuristica {
            .videos{
                justify-content: space-evenly;
                gap: 1rem;
                iframe {
                    width: 220px;
                    height: 220px;
                }
            } 
            h3{
                font-size: 2.5em;
            }
            .postales {
                padding: 0 5px;
                margin: 20px 0px 0px 0px;
                .postal {
                    width: 130px;
                    margin: 5px 5px;
                }
            }
        }
        .cabanas {
            .galeriaCabanas {
                padding: 0 5px;
                .fotoCabanas {
                    width: 130px;
                    margin: 0;
                }
            }
            h3{
                font-size: 2.5em;
            }
        }
        .reserva{
            .row{
                gap: 20px;
                margin: 0px 10px 30px 10px;
                iframe{
                    height: 320px;
                }
            }
        }
        .reviews {
            .titulo{
                font-size: 3em;
            }
            .google {
                margin: 20px !important;
                .dmlKKH {
                    flex-wrap: wrap;
                }
            }
        }
    }

}