@font-face {
    font-family: Mahalo;
    src:
		url("../../font/ChristmasWish-Calligraphy.ttf")  format("truetype");
}
@font-face {
    font-family: Pablo;
    src:
		url("../../font/TheScientist-L3EyW.ttf")  format("truetype");
}