//Colores Fondo
$fondoNab:#00000068;
$fondoForm: #787878;
$fondoImput: #ffffffe5;
$fondoWhite: #ffffff;
$fondoBlack: #000000;
$fondoBlue: #17537a;
$fondoBody: #f9f9f9;
$fondoGreen:#25d366;


//Colores Texto
$textBlack: #000000;
$textWhite: #ffffff;
$textBlue:#18537a;
$textRed:#ff0000;
$textGreen:#25d366;

//Tamaños
$all: 100%;